In [2]:
# Question 1- Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import numpy as np
import pandas as pd
np.random.seed(42)
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.374540   0.950714   0.731994   0.598658
1   0.156019   0.155995   0.058084   0.866176
2   0.601115   0.708073   0.020584   0.969910
3   0.832443   0.212339   0.181825   0.183405

In [3]:
# Question 2- Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
import numpy as np
import pandas as pd
np.random.seed(42)
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

In [4]:
# Question 3- Find the descriptive statistics of the 'df' dataframe.
import pandas as pd
descriptive_stats = df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

In [5]:
# Question 4- Check for the null values in 'df' and find the data type of the columns.
import pandas as pd
null_values = df.isnull().sum()
print("Null values:\n", null_values)
data_types = df.dtypes
print("\nData types:\n", data_types)

Null values:
 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data types:
 Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
# Question 5- Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
import pandas as pd
location_method_cols = df[['Random value 2', 'Random value 3']]
print("Columns using location method:\n", location_method_cols)
index_location_method_cols = df.iloc[:, [1, 2]]
print("\nColumns using index location method (iloc):\n", index_location_method_cols)

Columns using location method:
    Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825

Columns using index location method (iloc):
    Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825