# **TASK-1**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#creating series of random values for dataframe

s1 = pd.Series(np.random.rand(4))
print(s1)

0    0.222341
1    0.018150
2    0.697259
3    0.762227
dtype: float64

In [ ]:
s2 = pd.Series(np.random.rand(4))
print(s2)

0    0.496538
1    0.205258
2    0.811355
3    0.826220
dtype: float64

In [ ]:
s3 = pd.Series(np.random.rand(4))
print(s3)

0    0.917479
1    0.093158
2    0.470943
3    0.188291
dtype: float64

In [ ]:
s4 = pd.Series(np.random.rand(4))
print(s4)

0    0.374310
1    0.085094
2    0.016109
3    0.314327
dtype: float64

In [ ]:
#creating dataframe of 4 features(columns) and 4 observations(rows)

df = pd.DataFrame([s1,s2,s3,s4])
print(df)

          0         1         2         3
0  0.222341  0.018150  0.697259  0.762227
1  0.496538  0.205258  0.811355  0.826220
2  0.917479  0.093158  0.470943  0.188291
3  0.374310  0.085094  0.016109  0.314327

# **TASK-2**

In [ ]:
# Renaming the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.222341        0.018150        0.697259        0.762227
1        0.496538        0.205258        0.811355        0.826220
2        0.917479        0.093158        0.470943        0.188291
3        0.374310        0.085094        0.016109        0.314327

# **TASK-3**

In [ ]:
#Finding the descriptive statistics of the 'df' dataframe

df.describe(include='all')

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.502667        0.100415        0.498916        0.522766
std          0.298421        0.077560        0.351588        0.318719
min          0.222341        0.018150        0.016109        0.188291
25%          0.336318        0.068358        0.357234        0.282818
50%          0.435424        0.089126        0.584101        0.538277
75%          0.601773        0.121183        0.725783        0.778225
max          0.917479        0.205258        0.811355        0.826220

# **TASK-4**

In [ ]:
#Checking for the null values in 'df'

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#finding the data type of the columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

# **TASK-5**

In [ ]:
#Displaying the 'Random value 2' & 'Random value 3' columns with location method.

df1=df.loc[:,'Random value 2':'Random value 3']
print(df1)

   Random value 2  Random value 3
0        0.018150        0.697259
1        0.205258        0.811355
2        0.093158        0.470943
3        0.085094        0.016109

In [ ]:
'''Displaying the 'Random value 2' & 'Random value 3' columns with
index location method.'''

df2 = df.iloc[:,1:3]
print(df2)

   Random value 2  Random value 3
0        0.018150        0.697259
1        0.205258        0.811355
2        0.093158        0.470943
3        0.085094        0.016109