SMART BRIDGE AI INTERNSHIP

ASSIGNMENT-1

NAME:SIDDHARTH IYYAPAN G

MAIL:siddharthiyyapan.g2020@vitstudent.ac.in

REGISTRATION NO:20BEC1194

In [1]:
#TASK-1 : Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import pandas as pd
import numpy as np
# We Set the random seed for reproducibility
np.random.seed(42)

# Now we create a numpy array with random values
data = np.random.randn(4, 4)

# Finally create the DataFrame
df = pd.DataFrame(data, columns=['Feature 1', 'Feature 2', 'Feature 3', 'Feature 4'])

# Print the DataFrame
print(df)

   Feature 1  Feature 2  Feature 3  Feature 4
0   0.496714  -0.138264   0.647689   1.523030
1  -0.234153  -0.234137   1.579213   0.767435
2  -0.469474   0.542560  -0.463418  -0.465730
3   0.241962  -1.913280  -1.724918  -0.562288

In [4]:
#TASK-2 : Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

# we define a dictionary new_column_names that maps the old column names to the new column names.
new_column_names = {'Feature 1': 'Random value 1', 'Feature 2': 'Random value 2',
                    'Feature 3': 'Random value 3', 'Feature 4': 'Random value 4'}
# Now, we use the rename() function on the DataFrame df and pass the new_column_names dictionary to the columns parameter. 
# This renames the columns accordingly.                   
df = df.rename(columns=new_column_names)

# Print the DataFrame with renamed columns
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

In [5]:
# TASK-3 : Find the descriptive statistics of the 'df' dataframe.
# we use the describe 
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [7]:
# TASK-4 : Check for the null values in 'df' and find the data type of the columns
print(df.isnull()) # gives true if value in null and false if not.

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [9]:
df.isnull().sum() # gives the sum of null values in each column

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [11]:
# now get the datatype we use dtype function
df.dtypes # gives the datatype of each column

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [12]:
# TASK-5 : Display the 'Random value 2' & 'Random value 3' columns with location method and index location method
# Display columns using label-based location method (loc)
columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using loc:")
print(columns_loc)

# Display columns using index-based location method (iloc)
columns_iloc = df.iloc[:, [1, 2]]
print("\nColumns using iloc:")
print(columns_iloc)

Columns using loc:
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918

Columns using iloc:
   Random value 2  Random value 3
0       -0.138264        0.647689
1       -0.234137        1.579213
2        0.542560       -0.463418
3       -1.913280       -1.724918