In [1]:
# import the necessery libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Reading the dataset
df = pd.read_csv('/content/drug200.csv')
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [5]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [6]:
df.shape
#from the shape we can see that there are 200 rows and 6 attributes(columns)
# independent variables are Age(Numerical), Sex(Categorical), BP(Categorical), Cholestrol(Categorical), Na_to_K(NUmerical)
# and the dependent variable to be used for classification Drug(Categorical)

(200, 6)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [8]:
df.isnull().any()
#fromt the output, we can see that there aren't any missing values hence no need to worry about them.

Age            False
Sex            False
BP             False
Cholesterol    False
Na_to_K        False
Drug           False
dtype: bool

In [9]:
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [10]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [11]:
df.Drug.unique()
# from the output, we can see that we are dealing with multi-class classification

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

In [12]:
df.corr()

<ipython-input-12-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

              Age   Na_to_K
Age      1.000000 -0.063119
Na_to_K -0.063119  1.000000

In [13]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [18]:
# From the data, we can see that the data has 3 categorical independent variables so we will have to perform 
# one-hot encoding for those using LabelEncoder
# Perform preprocessing
# Encode categorical variables
from sklearn.preprocessing import LabelEncoder, StandardScaler
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['BP'] = label_encoder.fit_transform(df['BP'])
df['Cholesterol'] = label_encoder.fit_transform(df['Cholesterol'])
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  DrugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  DrugY

In [20]:
# to improve the accuracy of the model, we also perform standard scaling of the numerical variables.
scaler=StandardScaler()
df[['Age', 'Na_to_K']] = scaler.fit_transform(df[['Age', 'Na_to_K']])

In [21]:
#Now, we can split the dataset into x and y containing only independent and dependent variables respectively
x = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]
x.head()

        Age  Sex  BP  Cholesterol   Na_to_K
0 -1.291591    0   0            0  1.286522
1  0.162699    1   1            0 -0.415145
2  0.162699    1   1            0 -0.828558
3 -0.988614    0   2            0 -1.149963
4  1.011034    0   1            0  0.271794

In [22]:
y = df['Drug']
y.head()

0    DrugY
1    drugC
2    drugC
3    drugX
4    DrugY
Name: Drug, dtype: object

In [23]:
# now lets perform train, test and split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=42)

In [24]:
x_train.head()

          Age  Sex  BP  Cholesterol   Na_to_K
79  -0.746232    0   1            1 -0.727807
197  0.465676    1   2            0 -0.859089
38  -0.322065    0   2            1 -0.884762
24  -0.685637    0   1            0  2.414907
122 -0.625042    1   2            0  0.884211

In [25]:
x_test.head()

          Age  Sex  BP  Cholesterol   Na_to_K
95  -0.503851    1   1            1 -0.646762
15  -1.715759    0   0            1 -0.078892
30  -1.594568    0   2            1 -1.017848
158  0.889843    0   1            0 -0.782762
128  0.162699    1   1            1  2.422679

In [26]:
x = df.iloc[:,0:5]
y = df.iloc[:,5:]
x.head()

        Age  Sex  BP  Cholesterol   Na_to_K
0 -1.291591    0   0            0  1.286522
1  0.162699    1   1            0 -0.415145
2  0.162699    1   1            0 -0.828558
3 -0.988614    0   2            0 -1.149963
4  1.011034    0   1            0  0.271794

In [27]:
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded= label_encoder.transform(y_test)

In [28]:
x_train.shape, x_test.shape, y_train_encoded.shape, y_test_encoded.shape

((160, 5), (40, 5), (160,), (40,))

In [29]:
# Build an ANN model

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [31]:
# ANN Model

model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(5,)))
model.add(Dense(64, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(5, activation='softmax'))

In [32]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [33]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                384

 dense_5 (Dense)             (None, 64)                4160

 dense_6 (Dense)             (None, 128)               8320

 dense_7 (Dense)             (None, 16)                2064

 dense_8 (Dense)             (None, 5)                 85

=================================================================
Total params: 15,013
Trainable params: 15,013
Non-trainable params: 0
_________________________________________________________________

In [34]:
model.fit(x_train,y_train_encoded,epochs=10,batch_size=5,validation_data=(x_test,y_test_encoded))

Epoch 1/10
32/32 [==============================] - 2s 10ms/step - loss: 1.5245 - accuracy: 0.4500 - val_loss: 1.4054 - val_accuracy: 0.3750
Epoch 2/10
32/32 [==============================] - 0s 3ms/step - loss: 1.1383 - accuracy: 0.5188 - val_loss: 1.0530 - val_accuracy: 0.5750
Epoch 3/10
32/32 [==============================] - 0s 3ms/step - loss: 0.8172 - accuracy: 0.7375 - val_loss: 0.8736 - val_accuracy: 0.7000
Epoch 4/10
32/32 [==============================] - 0s 3ms/step - loss: 0.6608 - accuracy: 0.7937 - val_loss: 0.8697 - val_accuracy: 0.6250
Epoch 5/10
32/32 [==============================] - 0s 4ms/step - loss: 0.5849 - accuracy: 0.7812 - val_loss: 0.7681 - val_accuracy: 0.7000
Epoch 6/10
32/32 [==============================] - 0s 3ms/step - loss: 0.5311 - accuracy: 0.7750 - val_loss: 0.7015 - val_accuracy: 0.7250
Epoch 7/10
32/32 [==============================] - 0s 3ms/step - loss: 0.4691 - accuracy: 0.8125 - val_loss: 0.6739 - val_accuracy: 0.7500
Epoch 8/10
32/32 [==============================] - 0s 3ms/step - loss: 0.4098 - accuracy: 0.8813 - val_loss: 0.5896 - val_accuracy: 0.8750
Epoch 9/10
32/32 [==============================] - 0s 3ms/step - loss: 0.3511 - accuracy: 0.9250 - val_loss: 0.5999 - val_accuracy: 0.8500
Epoch 10/10
32/32 [==============================] - 0s 3ms/step - loss: 0.3296 - accuracy: 0.9062 - val_loss: 0.5045 - val_accuracy: 0.8750

In [35]:
from sklearn.metrics import classification_report, confusion_matrix

In [36]:
y_pred = model.predict(x_test)
y_pred = np.argmax(y_pred, axis=1)

2/2 [==============================] - 0s 6ms/step

In [37]:
print(classification_report(y_test_encoded, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       0.86      1.00      0.92         6
           2       1.00      1.00      1.00         3
           3       0.00      0.00      0.00         5
           4       0.73      1.00      0.85        11

    accuracy                           0.88        40
   macro avg       0.72      0.80      0.75        40
weighted avg       0.78      0.88      0.82        40

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [38]:
#Now, we generate some random data and check with our model.
rando=np.random.rand(1,5) # we generate 5 random values within the range 0-1 for the 5 label encoded and standardized variables
rando

array([[0.86698187, 0.2687675 , 0.61902174, 0.54500265, 0.473557  ]])

In [39]:
#we will now use this data to make predictions using our model
pred = model.predict(rando)
pred

1/1 [==============================] - 0s 189ms/step

array([[9.9998689e-01, 1.0818757e-06, 5.5975033e-06, 1.4669893e-06,
        5.0274075e-06]], dtype=float32)

In [43]:
# Inverse transform the predicted labels to get the original class labels
pred_class = label_encoder.inverse_transform(pred.argmax(axis=1)) #the class with the highest value will be our class hence we will use argmax to get the class with the highest probability

# Print the predicted class labels
print(pred_class)

['DrugY']